* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    overflow: hidden;
}

#game {
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 10hv;
    background-color: #5784ac;
    font-size: 4vmin;
    display: flex;
}

canvas {
    position: absolute;
}

#canvas {
    width: 99vw;
    height: 95vh;
    box-sizing: border-box;
}

.table {
    width: 100%;
}


h1 {
    font-size: 7vh;
    width: 100vw;
    text-align: center;
    margin: 2vh 0;
    color: #d45120;
    letter-spacing: 3vmin;
}

h3 {
    text-align: center;
    color: #5784ac;
    font-size: 5vmin;
}

#main {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
}

#main button, #rules button, #levelSelect button, #btnNextLevel, #win button{
    display: block;
    font-size: 4vmin;
    width: 50vw;
    height: 6vh;
    margin-top: 2vh;
    border-style: none;
    border-radius: 3px;
    background-color: #5784ac;
    color: white;
}

.btnPlay {
    top: 30vh;
}

#btnRules {
    top: 35vh;
}

#man {
    background-image: url(/pic/manspriteleft.jpg);
    background-size: no-repeat;
    background-position: left;
    background-size: cover;
    position: absolute;
    top: 120vh;
    width: 20vh;
    height: 10vh;
}


#rules {
    width: 80vw;
    margin: auto;
    background-color: white;
    border: 5px solid #5784ac;
    padding: 3%;
    line-height: 4vmin;
    margin: 10vmin auto;
    font-size: 3vmin;
    text-indent: 30px;
    text-align: center;
}

#rules button, #levelSelect button{
    margin: 2vh auto;
}

#rules p{
    text-align: left;
}

#rules img {
    width: 3vmin;
    vertical-align:middle;
}

#btnRefreshGame {
    height: 100%;
    width: 100%;
    font-size:4vmin;
    background-color: #5784ac;
    color:white;
    border: none;

}

#btnRefreshGame:disabled{
    color: #8da2b4;
}

.btnToMainPage {
    height: 100%;
    width: 100%;
    font-size: 4vmin;
    background-color: #5784ac;
    color:white;
    border: none;
}

#levelSelect{
    display: flex;
    text-align: center;
 
}

#levelList {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.btnLevel {
    line-height: 5vmin;
    width: 15vmin;
    height: 15vmin;
    margin: 1vh;
    border: #5784ac 3px solid;
    background-color: white;
    color: #d45120;
}

.currentUserLevelRes, .levelNum{
   
    line-height: 4vmax;
    width: 15vmin;
    height: 7vmin;
    font-size: 2vmin;
    color: black;
    pointer-events: none;
}

.btnLevel:hover div{
    color: white;
}

.levelNum{
    margin-top: 3vmin;
    color: #d45120;
    font-size: 5vmin;
}

.currentUserLevelRes{
    margin-top: -3vmin;
}

.btnLevel:hover{
    
    border: #5784ac 3px solid;
    background-color: #5784ac;
    transform: scale(1.1);
    transition-duration: 0.5s;
}


#win {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#levelSelect h1{
    margin-top: 10vh;
}

#main h1, #win h1{
    margin-top: 20vh;
}
